## Uppgift 0 - uppvärmning med riket

- Börja med att läsa in filen riket2023_åk9_np.xlsx och sheets för de olika ämnena. Ändra kolumnnamnen på respektive dataframe så du får något liknande som nedan.

In [15]:
import pandas as pd

df_skola =pd.read_excel("../Lab2.ipynb/riket2023_åk9_np.xlsx" , skiprows=8)
df_skola = df_skola.rename({"Totalt": "Totalt (A-F)"} , axis="columns")
df_skola= df_skola

df_skola

,Riket,Typ av huvudman,Totalt (A-F),Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
0,Riket,Samtliga,106941,51864,55077,97.0,97.1,97.0,15.7,15.8,15.7
1,Riket,Kommunal,84310,40675,43635,96.6,96.6,96.6,15.4,15.5,15.4
2,Riket,Enskild,22582,11165,11417,98.7,98.8,98.7,16.9,17.0,16.8
3,Riket,Skolverket,49,24,25,100.0,100.0,100.0,18.5,18.9,18.2