### 0. Count numbers (*)
- Use a for statement to count from:

  - a)   -10 to 10 with one increment (*)

  - b)   -10 to 10 with two increment (*)

In [3]:
for i in  range (-10,10):
    print(i, end=" ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9

In [5]:
for i in range(-10,10):
    i += 2
    print(i , end=" ")

-8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10 11

### 1. Arithmetic sum (*)
- Use a for statement to compute the following sums:

 -  a) sum =  1+2 +....99 + 100  


  - b) 1+ 3 +5 ..... 97 + 99

In [8]:
sum = 0

for i in range(1,101):
    sum += i

print(sum)

5050

In [9]:
sum = 0

for i in range(1,99, 2):
    sum += i

sum

2401

### 2. Multiplication table (*)
- Use for statement(s) to:

  - a)   print out the 6th multiplication table from 0 to 10 (*)

In [1]:
number = 6
for i in range(11):
    print(f"{number} * {i} = {number * i}")

6 * 0 = 0
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

- b)   let the user input the table, start and end of the table. (*)

In [3]:
user = int(input("Enter the number of table you want"))
start = int(input("Enter the number to start the  table"))
end = int(input("Enter the number  to the end of table"))

for i in range(start , end + 1):
    print(f" {user} * {i} = {number* i}")

 3 * 2 = 12
 3 * 3 = 18
 3 * 4 = 24

- c)   print out a full multiplication table from 0 to 10. (**)

In [8]:
# Print the header row
print("Multiplication Table:")
print("  |", end=" ")
for i in range(11):
    print(f" {i:2}", end="")
print("\n---------------------------")

# Print the multiplication table
for i in range(11):
    print(f"{i:2}|", end="")
    for j in range(11):
        print(f"{i * j: 3}", end=" ")
    print()

Multiplication Table:
  |   0  1  2  3  4  5  6  7  8  9 10
---------------------------
 0|  0   0   0   0   0   0   0   0   0   0   0
 1|  0   1   2   3   4   5   6   7   8   9  10
 2|  0   2   4   6   8  10  12  14  16  18  20
 3|  0   3   6   9  12  15  18  21  24  27  30
 4|  0   4   8  12  16  20  24  28  32  36  40
 5|  0   5  10  15  20  25  30  35  40  45  50
 6|  0   6  12  18  24  30  36  42  48  54  60
 7|  0   7  14  21  28  35  42  49  56  63  70
 8|  0   8  16  24  32  40  48  56  64  72  80
 9|  0   9  18  27  36  45  54  63  72  81  90
10|  0  10  20  30  40  50  60  70  80  90  100