### 0. Count numbers (*)
- Use a for statement to count from:

  - a)   -10 to 10 with one increment (*)

  - b)   -10 to 10 with two increment (*)

In [3]:
for i in  range (-10,10):
    print(i, end=" ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9

In [5]:
for i in range(-10,10):
    i += 2
    print(i , end=" ")

-8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10 11

### 1. Arithmetic sum (*)
- Use a for statement to compute the following sums:

 -  a) sum =  1+2 +....99 + 100  


  - b) 1+ 3 +5 ..... 97 + 99

In [8]:
sum = 0

for i in range(1,101):
    sum += i

print(sum)

5050

In [9]:
sum = 0

for i in range(1,99, 2):
    sum += i

sum

2401

### 2. Multiplication table (*)
- Use for statement(s) to:

  - a)   print out the 6th multiplication table from 0 to 10 (*)

  - b)   let the user input the table, start and end of the table. (*)

  - c)   print out a full multiplication table from 0 to 10. (**)